:root {
  --dark-background: #1D232A;
  --light-background: #1C2228;
  --primary-text-color: #A5ADBA;
  --secondary-text-color: #000000;
  --light-link-color: #FAA5C3;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 100%;
  padding: 1rem;
}

body {
  background-color: var(--light-background);
}